/* CSS RESET  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERICS */
body {
  font-family: "PT Sans", sans-serif;
}

a {
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
}

span {
  display: inline-block;
  margin-right: 5px;
}

p {
  line-height: 30px;
  margin-bottom: 30px;
}

/* UTILS */
.container {
  max-width: 580px;
  padding: 0 40px;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-c {
  display: flex;
  flex-direction: column;
}

section {
  padding: 50px 0;
}

section:nth-child(even) {
  background-color: #9792e4;
}

.row {
  margin: -10px;
}

.col {
  flex-basis: 100%;
  min-height: 300px;
  padding: 20px 30px;
}

.card {
  height: 100%;
  padding: 20px 30px;
  background-color: #b5ddff;
  border-radius: 20px;
}

#demoapp,
#planning .card {
  text-align: center;
}

#planning .card,
#benefits .card {
  background-color: white;
}

.img-circle {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  margin: 20px 0;
  background-size: cover;
  background-position: center;
}

/* BUTTONS */

.btn-a,
.btn-b {
  font-weight: bold;
  text-decoration: none;
  color: white;
  border-radius: 20px;
  margin-bottom: 30px;
}

.btn-a {
  padding: 10px 50px;
}

.btn-b {
  padding: 10px 20px;
}

.btn-blue {
  background-color: #0084fd;
}

.btn-violet {
  background-color: #9792e4;
}

.btn-dl {
  width: 50px;
  height: 50px;
  color: black;
  background-color: #9792e4;
  border-radius: 50%;
  line-height: 50px;
}

.btn-large {
  text-decoration: none;
  font-weight: bold;
  color: #9792e4;
  background-color: white;
  padding: 15px 60px;
  border-radius: 50px;
  margin: 30px 0;
}

/* HEADER */
header {
  padding: 0;
  background-color: #0084fd;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.hmenu {
  color: white;
}

header nav {
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

/* MAIN */
main {
  margin-top: 100px;
}

/* Demoapp */

#demoapp .col-l {
  text-align: start;
}

#demoapp .card h2 {
  color: #0084fd;
  margin: 30px 0;
}

#demoapp .card p {
  font-size: 1.1rem;
  font-weight: bold;
  color: #5a6e7f;
}

.fa-6x {
  color: #0084fd;
  margin-top: 20px;
}

/* Planning */
#planning .col:first-child {
  color: white;
}

#planning h2 {
  font-size: 2.5rem;
  margin: 50px 0;
}

#planning h3 {
  margin: 30px 0;
}

/* Testimonials */
#testimonials {
  text-align: center;
}

#testimonials .card {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
}

#testimonials .card span {
  font-weight: bold;
}

.img-guy {
  background-image: url(../img/testimonial1.jpg);
}

.img-girl {
  background-image: url(../img/testimonial2.jpg);
}

.img-guyb {
  background-image: url(../img/testimonial3.jpg);
}

.col-c {
  flex-basis: calc(100% / 3);
  min-width: 100%;
  padding: 10px;
}

#testimonials h3,
#testimonials h2,
#testimonials p {
  margin-bottom: 30px;
}

#testimonials h2 {
  font-size: 2rem;
  color: #9792e4;
}

#testimonials p {
  font-size: 1.5rem;
}

#testimonials .card {
  background-color: #9792e4;
}

/* Benefits */

#benefits h2 {
  font-size: 2rem;
  color: white;
  text-align: center;
  margin-bottom: 50px;
}

#benefits .card span {
  font-size: 4rem;
  font-weight: bold;
  color: #9792e4;
  margin-top: 20px;
}

#benefits .card h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #9792e4;
  margin: 20px 0;
}

/* About us */
#about-us h2 {
  font-size: 2.5rem;
  color: #9792e4;
  margin-bottom: 30px;
}

#about-us p {
  font-size: 1.3rem;
}

#about-us .col:nth-child(2) p {
  color: #9792e4;
  font-size: 2rem;
  font-weight: bold;
  line-height: 40px;
}

.img-boss {
  background-image: url(../img/about.jpg);
}

/* Get started */
#get-started {
  text-align: center;
  color: white;
}

#get-started h4 {
  font-size: 1.3rem;
  color: #d5d4f4;
  margin-bottom: 20px;
}

#get-started h3 {
  font-size: 2rem;
}

#get-started h2 {
  font-size: 3.5rem;
  color: #fdc15f;
  margin: 30px 0;
}

/* FOOTER */
#footer {
  background-color: #333333;
  color: white;
  text-align: center;
}

#footer p {
  margin-bottom: 30px;
}

/* MEDIA QUERY */

/* Formato Tablet */
@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
    padding: 0 25px;
  }

  .col {
    padding: 10px;
  }

  #demoapp .col.col-l {
    flex-basis: calc(100% / 3 * 2);
  }

  .phone-img {
    max-width: 60%;
  }

  #demoapp .col {
    flex-basis: calc(100% / 3);
  }

  #planning img {
    margin: 0 auto;
  }

  #testimonials .card {
    text-align: start;
  }

  #testimonials .card {
    flex-direction: row;
    justify-content: space-between;
  }

  #testimonials .card div:last-child {
    flex-basis: 60%;
  }

  #testimonials .card span {
    font-size: 1.4rem;
  }

  .img-circle {
    height: 220px;
    width: 220px;
  }

  #benefits .col {
    flex-basis: 50%;
  }

  #about-us h2 {
    font-size: 4rem;
  }

  #about-us .flex {
    justify-content: space-between;
  }

  #about-us .col {
    flex-basis: 45%;
  }

  #get-started h3 {
    font-size: 3rem;
  }

  #get-started h2 {
    font-size: 4.5rem;
  }

  .btn-large {
    padding: 20px 70px;
  }

  #get-started .container,
  #footer .container {
    max-width: 500px;
  }
}

/* Formato Desktop */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1300px;
  }

  .col {
    padding: 20px;
  }

  .col-l .card {
    display: flex;
  }

  .col-l .card div:last-child {
    align-self: flex-end;
  }

  .phone-img {
    max-width: 100%;
  }

  #planning .flex {
    justify-content: center;
    gap: 20px;
  }

  #planning .col {
    flex-basis: 35%;
  }

  #planning .col:nth-child(2) {
    padding-top: 335px;
  }

  #testimonials .card div:last-child {
    flex-basis: 75%;
  }

  #benefits .col {
    flex-basis: calc(100% / 3);
  }

  #about-us .col:first-child {
    flex-basis: 60%;
  }

  #about-us .col:last-child {
    flex-basis: 30%;
  }
}
